<h1>Login to your Password Vault!</h1>
<form method="post" action="/login">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="password" placeholder="Password">

  <input type="submit" value="Submit">
</form>
<br><br>
<a href="/"><b>Back to Home</b><a>or</a><a href="/signup"><b>Sign Up</b></a></a>