<form action="/owners/by" method="POST">

<label>Choose a password from your safe:</label>
<br></br>
<%@password_types.each do |password|%>
  <input type="radio" name="account_type" value="<%=password.account_type%>" id="account_type"><%=password.account_type%></input><br />
<%end%>
<br></br>

<label>Or choose an existing account:</label>
<br></br>
<%@password_safe.each do |password|%>
  <input type="radio" name="account_id" value="<%=password.account.id%>" id="account_id"><%=password.account.name%></input><br />
<%end%>
<br></br>

<input type="submit" value="Submit"/>





</form>