<h2>Add a password</h2>
<form action="/passwords" method="POST">
  <p>Password: <input type="text" name="content"></p>
  <p>Associated Account: <input type="text" name="content"></p>
  <input class="btn btn-primary" type="submit" value="submit">
</form>