<h1>Enter New Password</h1>

<form action="/passwords" method="POST">
  <br></br>

 
  <label>Add a New Account Type:</label><input type="text" name="account_type"></br>
  <br></br>


  <label>Or add a New Password:</label><input type="text" name="password"></br>
  <br></br>

  <label>Password:</label><input type="text" name="value"></br>
  <label>Username:</label><input type="text" name="username"></br>
  <br></br>

  <input type="submit" value="Submit">

</form>