<% if Helpers.is_logged_in?(session) %>
<%= @error %>
  <form action='/passwords' method="post">
    Content:
    <input type="text" name="content"><br>
    Add Your New Password(s):

    <input type="submit" name="submit" id="submit">

    <input type="submit" name="submit">

  </form>

  <% else %>
      <h1> You Must Be Logged in to Add a Password to the Vault.</h1>
  <% end %>
