<p> Welcome to your Vault, <%= current_user.username %>
<h2> Your Passwords </h2>

<% @passwords.each do |password| %>
  
    <a href="/passwords/<%= password. id%>"><%= password.content %></a>
 
<% end %>
<br>

<a href="/passwords/new">Add a new Password</a> or <a href="/logout">Logout?</a>