<h1>Welcome to Your Virtual Password Safe!</h1>
<h2>Never forget a password again!</h2>
<ul>
  <li><a href="/owners/signup">Sign up</a></li>
  <li><a href="/owners/login">Log in</a></li>

  <br />

  <a href="/owners/password_safe">Return to your Password Safe if Already Logged In</a><br />
</ul>