<p> Welcome to your Vault, <%= current_user.username %>
<h2> Your Accounts </h2>

<% @accounts.each do |account| %>
  
    <li><a href="/accounts/<%= account. id%>"><%= account.name %></a></li>
    <br>
<% end %>
<br>

<a href="/accounts/new"><b>Add a new Account</b><br><br></a><a>or</a><a href="/logout"><b>Logout</b></a>