<h2>Add an Account</h2>
<form action="/accounts" method="POST">
  <p>Account: <input type="text" name="name"></p>
  <p>Password: <input type="text" name="password_content"></p>
  <input class="btn btn-primary" type="submit" value="submit">
</form>

<a href="/accounts"><b>Back to list of Accounts</b></a>